[submodule "Core"]
	path = Core
	url = https://github.com/softline-georg/Core.git
[submodule "Wws"]
	path = Wws
	url = https://github.com/softline-georg/Wws.git
[submodule "FriFro"]
	path = FriFro
	url = https://github.com/softline-georg/FriFro.git
[submodule "Fetter"]
	path = Fetter
	url = https://github.com/softline-georg/Fetter.git

